
:host ::ng-deep .customTable .p-datatable-tbody > tr > td {
    padding: 2px 5px !important;
}

/* SMALL SIZE */
:host ::ng-deep .small .p-datatable-table {
    font-size: 12px;
     width: 100px;
}
:host ::ng-deep .small .p-datatable-thead > tr > th,
:host ::ng-deep .small .p-datatable-tbody > tr > td {
    padding: 4px 8px !important;
}

/* MEDIUM SIZE */
:host ::ng-deep .medium .p-datatable-table {
    font-size: 14px;
     width: 100px;
}
:host ::ng-deep .medium .p-datatable-thead > tr > th,
:host ::ng-deep .medium .p-datatable-tbody > tr > td {
    padding: 8px 12px !important;
}

/* LARGE SIZE */
:host ::ng-deep .large .p-datatable-table {
    font-size: 16px;
    width: 100px;
}
:host ::ng-deep .large .p-datatable-thead > tr > th,
:host ::ng-deep .large .p-datatable-tbody > tr > td {
    padding: 12px 16px !important;
    
}

:host ::ng-deep .p-datatable-thead > tr > th{
    padding: 5px;
}

:host ::ng-deep .p-datatable-tbody > tr > td{
    padding: 5px;
}

:host ::ng-deep.p-datatable-table{
    width: 30px;
}

