<div class="main">
    <div class="text1">
        <h3 style="color: red;">Develop across all platform</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Vel dignissimos iste quisquam nostrum explicabo obcaecati
              excepturi fuga dolorem tempora placeat.</p>

              <button class="btn">learn</button>

    </div>
    <div class="text1">
        <h3 style="color: blue">Develop across all platform</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Vel dignissimos iste quisquam nostrum explicabo obcaecati
              excepturi fuga dolorem tempora placeat.</p>

              <button class="btn" style="background-color: blue;">learn</button>
    </div>
</div>
