.main{
    display: flex;
    justify-content: space-evenly;
}

.text1{
    background-color: white;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    
    
}
.btn{
    padding: 5px;
    width: 60px;
    background-color: red;
    border-radius: 40px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    float: right;
   
}