<style>
.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 238, 238);
    
   
}
.nav {
    width: 80%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content{
    width: 80%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
</style>


<div class="main">
    <div class="nav">
        <div class="product">Product</div>
        <div class="product">Buy</div>
        <div class="product">cart</div>
    </div>
    <input type="text" class="inputbox">
    <div class="content">
        
        <div class="image1">image1
            <div class="btn">
                <button>select</button>
            </div>
        </div>
        <div class="image1">image2
            <div class="btn">
                <button>select</button>
            </div>
        </div>
        <div class="image1">image3
            <div class="btn">
                <button>select</button>
            </div>
        </div>
    </div>
</div>
